**/__pycache__
.vscode

ml-app/model-artifacts/model/*.json
ml-app/model-artifacts/model/*.bin
ml-app/model-artifacts/optimized-model/*.pt
ml-app/model-artifacts/tokenizer/*.json
ml-app/model-artifacts/tokenizer/*.txt

ml-app/model-store/*


!ml-app/model-artifacts/.gitkeep
!ml-app/model-store/.gitkeep
!ml-app/model-artifacts/optimized-model/.gitkeep
!ml-app/model-artifacts/model/.gitkeep
!ml-app/model-artifacts/tokenizer/.gitkeep

